body {
    background-color: blanchedalmond;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke: 1px black;
}
div {
    width: 300px;
    border: 15px  Solid white;
    padding: 50px;
    margin: 20px;
    
}